{% extends 'story6/base.html' %}
{% load static %}
{% block content %}
<div class="container py-4">
  <form method="POST" class="row my-3">
    {% csrf_token %}
    <div class="col-7 ml-auto">
      {{ event_form.title }}
    </div>
    <button type="submit" class="btn btn-primary col-2 mr-auto">Add Event</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="d-flex justify-content-around flex-wrap pb-4">
    {% for event in events %}
      <div class="card bg-light mt-5" style="width: 18rem;">
        <div class="card-header">
          <div class="row">
            <h5 class="col-10 mb-2">{{ event.title }}</h5>
            <a href="{% url 'story6:delete_event' event.id %}" class="col-2">
              <button type="button" class="close mb-2">&times;</button>
            </a>
          </div>
        </div>

        <div class="card-body">
          <h6 class="card-title">Participants:</h6>
          <p></p>
          {% for member in members %}
            {% if member.event.id == event.id %}
              <div class="row">
                <h5 class="col-10 text-left">{{ member.name }}</h5>
                <a href="{% url 'story6:delete_member' member.id %}" class="col-2">
                  <button type="button" class="close">&times;</button>
                </a>    
              </div>
            {% endif %}
          {% endfor %}
          <form method="POST">
            {% csrf_token %}
            {{ member_form.name }}
            <input name="event" type="text" value="{{ event.id }}" style="display: none;">
            <button type="submit" class="btn btn-primary col-3 mt-3 mx-auto">Join</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if is_empty %}
    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
        <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
          <div class="container" align="center">
            <img src="{% static 'story6/images/kanata.png' %}" class="img-fluid" alt="PPT" id="kanata">
            <h3>Event Empty</h3>
            <p class="lead">Add an event and it will show up here.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}